@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caladea&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap')

h1{
    color:read-write(0, 0, 0);
    font-family: "Caladea";
    font-size: 50pt;
    text-align: center;
    line-height: 1.0;
}
h2 {
    color: rgb(0, 0, 0);
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20pt;
    text-align:center;
    line-height: 1.0;
	
}
table {align-content: center}
p {
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, "Arial Black", "sans-serif"Helvetica, sans-serif;
    font-size: 12pt;
    text-align: justify;

}
h3 {
    color:dimgrey0, 0);
    font-family: "Helvetica";
    font-size: 12pt;
    text-align:inherit;
    line-height: 1.0;
}
p: {
    color: black;
	font-family: "Helvetica";
    font-size: 9pt;
    text-align: center;
    font-style: italic;
    line-height: 1.0;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: none;
}

